<p>Only authenticated users should see results on this page:</p>

<p ng-if="isError"><b>Ouch!</b> There was an error while loading the list</p>
<pre ng-if="isError">{{errorDetail | json}}</pre>

<table ng-if="list.length > 0">
    <thead>
        <th>Id</th>
        <th>Topic</th>
        <th>Secret</th>
    </thead>

    <tbody>
        <tr ng-repeat="item in list">
            <td>{{item.id}}</td>
            <td>{{item.topic}}</td>
            <td>{{item.insight}}</td>
        </tr>
    </tbody>
</table>
